@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-polka {
  background-image: 
  radial-gradient(rgb(242, 244, 246) 10%, transparent 10%),
  radial-gradient(rgb(242, 244, 246) 10%, transparent 10%);
  background-position: 12px 12px, 36px 36px;
  background-size: 48px 48px;
  background-color: rgb(255, 255, 255);
}

.bg-rainbow {
    --g-red: #d04b36;
    --g-orange: #e36511;
    --g-yellow: #ffba00;
    --g-green: #00b180;
    --g-blue: #147aab;
    --g-indigo: #675997;
    background-image: linear-gradient(
      90deg,
      var(--g-red) 0.0%,
      var(--g-red) 16.6666%,
      var(--g-orange) 16.6666%,
      var(--g-orange) 33.333%,
      var(--g-yellow) 33.333%,
      var(--g-yellow) 50.0%,
      var(--g-green) 50.0%,
      var(--g-green) 66.6666%,
      var(--g-blue) 66.6666%,
      var(--g-blue) 83.3333%,
      var(--g-indigo) 83.3333%,
      var(--g-indigo) 100.0%
    );
  }