@tailwind base;
@tailwind components;
@tailwind utilities;

/* For some reason, column headers in PrimeReact DataTable can prevent propagation of pointer events, forbidding the user from clicking on the column header. This is a workaround. */
.p-column-header-content {
    pointer-events: none;
}

.bg-lgbt {
    --g-red: #d04b36;
    --g-orange: #e36511;
    --g-yellow: #ffba00;
    --g-green: #00b180;
    --g-blue: #147aab;
    --g-indigo: #675997;
    background-image: linear-gradient(
      90deg,
      var(--g-red) 0.0%,
      var(--g-red) 16.6666%,
      var(--g-orange) 16.6666%,
      var(--g-orange) 33.333%,
      var(--g-yellow) 33.333%,
      var(--g-yellow) 50.0%,
      var(--g-green) 50.0%,
      var(--g-green) 66.6666%,
      var(--g-blue) 66.6666%,
      var(--g-blue) 83.3333%,
      var(--g-indigo) 83.3333%,
      var(--g-indigo) 100.0%
    );
  }